<!DOCTYPE html>
<html lang="en">

<form action="/login" method="post">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/static/navbar.css" rel="stylesheet">
    <link href="/static/form.css" rel="stylesheet">

    <title>Log In</title>
  </head>



  <body>
    <header>
      <div class="container">
        <h1 class="logo"></h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Register</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <center><input type="text" placeholder="Email" id="username" name="username"></center>
    <center><input type="password" placeholder="Password" id="password" name="password"></center>
    <center><button class="btn btn-primary" type="submit">Login</button></center>


  </body>
</form>

</html>