<!DOCTYPE html>
<html lang="en">

<form action="/buy" method="post">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link href="/static/navbar.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
    rel="stylesheet" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
    content="348920952981-9l0h9tpo57tv8nkpmdshorcj3lcv4976.apps.googleusercontent.com">
  <title>Crimson Marketplace</title>
</head>

<body>
  <header>
    <div class="container">
      <h1 class="logo"></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/buy">Buy</a></li>
          <li><a href="/sell">Sell</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <script>
  function onSignIn(googleUser) {
    if (auth2.isSignedIn.get()) {
      var profile = auth2.currentUser.get().getBasicProfile();
      console.log('ID: ' + profile.getId());
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail());
    }
  }

  </script>

 <a id = "profile" name = "profile"> </a>


</body>
</form>
</html>