<!DOCTYPE html>
<html lang="en">

<form action="/signup" method="post">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link href="/static/navbar.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap" rel="stylesheet" />
  
    
  <title>Crimson Marketplace</title>
</head>

<body>
  <header>
    <div class="container">
      <h1 class="logo"></h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/buy" type = "hidden">Buy</a></li>
          <li><a href="/sell" type = "hidden">Sell</a></li>
          <li><a href="/profile" type = "hidden">Profile</a></li>
          <li><a href="/contact" type = "hidden">Contact</a></li>
          <li><a href="/signup">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>

  <form action="/signup" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Please type the Password again" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
 
</body>
</form>
</html>