<html>
  <head> 
    <title> How to make a website </title>
    <link rel = "stylesheet" href = "style.css">
  </head>
  
  <body>
    <div class = "banner">
        <div class = "content">
            <h1>Welcome to Harvard Marketplace, a less expensive alternative!</h1>
            <div>
                <button type = "button"><span></span>BECOME A MEMBER FOR FREE TODAY</button>
                <button type = "button"><span></span>SIGN IN</button>
            </div>
        </div>
    </div>
  </body>
</html>

















