<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link rel = "stylesheet" href = "navbar.css">
    <link rel = "stylesheet" href = "home.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <title>Crimson Marketplace</title>
  </head>
  <body>
    <header> 
        <div class="container">
          <h1 class="logo"></h1>
    
          <nav>
            <ul>
              <li><a href="#">Buy</a></li>
              <li><a href="#">Sell</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
    </header>
    <main>
        <div class = "banner">
            <div class = "content">
                <h1>Welcome to Crimson Marketplace!</h1>
                <div>
                    <button class = "newbutton"><newspan></newspan>BECOME A MEMBER FOR FREE TODAY</button>
                    <button class = "newbutton"><newspan></newspan>SIGN IN</button>
                </div>
            </div>
        </div>
    </main>
    <div class="intro">
      <div class="intro-text">
        <h1 class="hide">
          <span class="text">Crimson Market:</span>
        </h1>
        <h1 class="hide">
          <span class="text" style="color:white";>A Simpler Alternative</span>
        </h1>
      </div>
    </div>
    <div class="slider"></div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>
    <script src="./app.js"></script>
  </body>
</html>